.App {
  text-align: center;
  background-color: oldlace
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.foldOver{
  flex: 1;
  width: 20%;
  background-color: black;
  color:white;
}

.foldOverContainer{
  display:inline-flex;
  width: 100%;
  list-style-type: none;

}

.blogContainer{
  background-color: black;
  font-family:wing-dings;


}

.blog{
  animation: 200ms ease-in 1 normal running forwards dropDown;
  color: white;
  padding: 3em;
  font-weight: bold;
  transform-origin: top;
}

.linksContainer{
  animation: 200ms ease-in 1 normal running forwards dropDown;
transform-origin: top;
  padding: 1em;
  display: flex;
  background-color: black;
  justify-content: space-around;
  align-items: stretch;

}

.linkStyle{

  background-color: black;
  width:200px;
  height:200px
}
.NiyamaContainer{
  font-family:wing-dings;
color:white;

}

.Niyama{
padding:3em;
margin:1em
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dropDown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
