.App {
  text-align: center;
  background-color: oldlace
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}





.foldOverContainer > .foldOver{
  flex: 1;
  width: 20%;
  background-color: black;
  color:white;
  font-size: 3em;
  list-style-type: none;
}

.foldOverContainer > :nth-of-type(1n){
  border-right: 1px solid white;
}

.foldOverContainer > .foldOver:last-child{
  border-right: 0px solid black;
  background-color: yellow
}


.foldOverContainer{
  display:inline-flex;
  width: 100%;
  list-style-type: none;

}

.blogContainer{
  background-color: black;
  font-family:wing-dings;
font-size: 1.17em
}

.blog{
  animation: 200ms ease-in 1 normal running forwards dropDown;
  color: white;
  padding: 3em;
  font-weight: bold;
  transform-origin: top;
}

#tenLimbs{
  display: flex;
  flex-direction: column;
}

.linksContainer{
  animation: 200ms ease-in 1 normal running forwards dropDown;
transform-origin: top;
  padding: 1em;
  display:inline-flex;
  background-color: black;
  align-items: stretch
}

.linksContainer2{
  animation: 200ms ease-in 1 normal running forwards dropDown;
transform-origin: top;
  padding: 1em;
  display:inline-flex;
  background-color: black;
  align-items: stretch
}

.linkStyle{
  background-color: black;
  width:200px;
  height:200px;
  padding: .5em;
  z-index: 1;

}

.linkStyle2{
  background-color: black;
  width:200px;
  height:200px;
  padding: .5em;
  z-index: 1;
}

.linkStyle:hover{

}

.flipBack{
  position: relative;
}

.flipBack:hover{
  position: relative;

}

.flipDiv{
  position:absolute;
  top:0;
  left:0;
  background-color: black;
  width:200px;
  height:200px;
  padding: .5em;

}
.flipDiv:hover{
  animation: 1000ms 1 normal running forwards spins90;
  background-color: black;
  width:200px;
  height:200px;
  padding: .5em;
  backface-visibility: hidden;
}

.ahimsa{
  background-image: './pictures/Sacral-Chakra-Symbol-1.jpg'
}
.NiyamaContainer{
  font-family:wing-dings;
color:white;

}

.Niyama{
  animation: 200ms ease-in 1 normal running forwards dropDown;
  color: white;
  padding: 3em;
  font-weight: bold;
  transform-origin: top;
}

.yama{
  animation: 200ms ease-in 1 normal running forwards dropDown;
  color: white;
  padding: 3em;
  font-weight: bold;
  transform-origin: top;
}


.Spins{
  color: white;
  padding: 3em;
  font-weight: bold;

}
.Spins:hover{
  animation: 1000ms 1 normal running forwards spins;
  transform-style: preserve-3d;
  transform-origin: top;
}


.name{
  color: white;
  font-size: 2em;
  opacity: 1;
	animation-name: fadeIn;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.meaning{
  color:white;
  font-size: 2em;
  opacity: 1;
  animation-name: fadeIn;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  transition-delay: 6s
}


@keyframes fadeIn {
  0%{
    opacity: 0
  }
  100%{
    opacity:1
  }

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spins {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes spins90 {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(90deg);
  }
}

@keyframes dropDown {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
